In [1]:
import sqlite3

In [2]:
#DBファイルの保存先パス
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

In [ ]:
path = ''
db_name = 'car.db'

try:
　　# DB接続オブジェクトの作成
　　conn = sqlite3.connect(path + db_name)

#SQL (RDBを操作するための言語)の実行するためのカーソルオブジェクトを取得
cur = conn.cursor()

# SQL文の作成
# テーブルの作成
sql = 'CREATE TABLE  cars (id INT, name TEXT, price REAL);'

# SQL文の実行
cur.execute（sql）

except sqlite3.Error as e:
    print("エラーが発生しました：", e)
    
# DBへの接続を閉じる
conn.close()

SyntaxError: invalid character '（' (U+FF08) (1102840208.py, line 15)

In [12]:
ath = ''
db_name = 'car.db'

# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

#SQL (RDBを操作するための言語)の実行するためのカーソルオブジェクトを取得
cur = conn.cursor()

# SQL文の作成
# データの挿入
# INSERT INTO テーブル名  VALUES (例に対応したデータをカンマ区切りで)；
# 文字例データを導入する場合は、文字例をシングルクォーテーションで挟む
sql = "INSERT INTO cars (id, name, price) VALUES (？、？、？);"

cars = [
    (2, '911カレラ' 1550000),
    (3, 'GRスープラ', 8000000),
    (4, 'シビック Type-R', 5000000)
]

# SQL文の実行
cur.execute(sql,cars)

# 変更をDBに反映させる
conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました：", e)
    
finally:
    # DBへの接続を閉じる
    conn.close()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3241236275.py, line 17)

In [4]:
ath = ''
db_name = 'car.db'

try:
　　# DB接続オブジェクトの作成
　　conn = sqlite3.connect(path + db_name)

　　#SQL (RDBを操作するための言語)の実行するためのカーソルオブジェクトを取得
　　cur = conn.cursor()

　　# データを削除うするSQL
  
# テーブルの作成
sql = 'CREATE TABLE  cars (id INT, name TEXT, price REAL);'

# SQL文の実行
cur.execute（sql）

# DBへの接続を閉じる
conn.close()

SyntaxError: invalid non-printable character U+3000 (912798557.py, line 5)