	•	テーマを「学生の成績管理」に変更し、実用性を向上
	•	INSERT / SELECT / UPDATE / DELETE の全操作をバランスよく実装
	•	SELECT の出力を整形して見やすく表示（発展要素）
	•	プレースホルダー（?）を使用して、安全な SQL 実行方法を採用
	•	コメントを追加し、コードの説明性を向上

In [7]:
import sqlite3

path = ''
db_name = 'student_scores.db'

# DB 接続
conn = sqlite3.connect(path + db_name)
conn.close()

In [ ]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    sql = '''
    CREATE TABLE students (
        id INT,
        name TEXT,
        subject TEXT,
        score REAL
    );
    '''
    # SQL文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: table students already exists

In [23]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    sql = "INSERT INTO students (id, name, subject, score) VALUES (1, '田中', '数学', 88.5);"
    # SQL文の実行
    cur.execute(sql)
    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

In [ ]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    sql = "INSERT INTO students (id, name, subject, score) VALUES (?, ?, ?, ?);"
    data = [
        (2, '佐藤', '英語', 92),
        (3, '松本', '理科', 76),
        (4, '山田', '国語', 85)
    ]
# SQL文の実行
    cur.executemany(sql, data)
# 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()

In [25]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    sql = "SELECT * FROM students;"
    cur.execute(sql)

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

else:
    print("=== 現在の学生データ ===")
    for row in cur:
        # 行データ(row)はタプルなので，アンパックして列データを取得
        id, name, subject, score = row
        print(f"ID:{id}  名前:{name}  科目:{subject}  点数:{score}")

finally:
    # DBへの接続を閉じる
    conn.close()

=== 現在の学生データ ===
ID:2  名前:佐藤  科目:英語  点数:92.0
ID:3  名前:鈴木  科目:理科  点数:95.0
ID:4  名前:山田  科目:国語  点数:85.0
ID:2  名前:佐藤  科目:英語  点数:92.0
ID:3  名前:鈴木  科目:理科  点数:95.0
ID:4  名前:山田  科目:国語  点数:85.0
ID:2  名前:佐藤  科目:英語  点数:92.0
ID:3  名前:鈴木  科目:理科  点数:95.0
ID:4  名前:山田  科目:国語  点数:85.0
ID:2  名前:佐藤  科目:英語  点数:92.0
ID:3  名前:松本  科目:理科  点数:95.0
ID:4  名前:山田  科目:国語  点数:85.0
ID:2  名前:佐藤  科目:英語  点数:92.0
ID:3  名前:松本  科目:理科  点数:95.0
ID:4  名前:山田  科目:国語  点数:85.0
ID:1  名前:田中  科目:数学  点数:88.5

In [22]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()

    sql = "UPDATE students SET score = ? WHERE id = ?;"
# SQL文の実行
    cur.execute(sql, (95, 3))
# 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
# DBへの接続を閉じる
    conn.close()

In [21]:
import sqlite3

path = ''
db_name = 'student_scores.db'

try:
# DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    
# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

# データを更新するSQL
# UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "DELETE FROM students WHERE id = 1;"
# SQL文の実行
    cur.execute(sql)
    
 # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print("エラーが発生しました:", e)

finally:
    # DBへの接続を閉じる
    conn.close()